@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-header {
    @apply px-7 py-2 cursor-pointer bg-gray-100 text-gray-700  rounded-3xl hover:bg-gray-200 ease-in duration-150;
  }
}

@layer utilities {
  @font-face {
    font-family: "MuseoSans";
    src: local("MuseoSansRounded300.otf"), url(/fonts/MuseoSansRounded300.otf);
  }
}

@layer utilities {
  :root {
    --primary: #22c422;
    --primary-light: #32ce32;
  }
}
